Update the references

Update the references:

* http://www.ietf.org/internet-drafts/draft-nottingham-link-hint-02.txt ⇒ `404 NOT FOUND`
  * Use: https://datatracker.ietf.org/doc/html/draft-nottingham-link-hint-02
* Instead of [RFC7230](https://www.rfc-editor.org/rfc/rfc7230) use [RFC9112](https://www.rfc-editor.org/rfc/rfc9112).
* Instead of [RFC7231](https://www.rfc-editor.org/rfc/rfc7231) use [RFC9110](https://www.rfc-editor.org/rfc/rfc9110).
* http://www.ariadne.ac.uk/issue25/app-profiles ⇒ `404 NOT FOUND`
  * Use: http://www.ariadne.ac.uk/issue/25/app-profiles/
* Instead of [RFC5988](https://www.rfc-editor.org/rfc/rfc5988) use [RFC8288](https://www.rfc-editor.org/rfc/rfc8288).

addressed in https://github.com/ProfileNegotiation/I-D-Profile-Negotiation/commit/922bb526561ac7af3ea7134d7da07ccc341bccb4